.demo-tabs .rc-tab .rc-icon {
  margin-right: 5px;
  vertical-align: -2px;
}
.demo-tabs .rc-tab__pane {
  padding: 24px 20px;
  background-color: #fff;
}
.demo-tabs .rc-tabs--card .rc-tab__pane {
  background-color: transparent;
}
