@import '../../styles/var.less';

@swipe-indicator-size: 6 * @hd;
@swipe-indicator-margin: var(--rc-padding-sm);
@swipe-indicator-active-opacity: 1;
@swipe-indicator-inactive-opacity: 0.3;
@swipe-indicator-active-background-color: var(--rc-white);
@swipe-indicator-inactive-background-color: var(--rc-border-color);
