@import './variable.scss';
.r-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
  }

  &--label-disabled {
    cursor: default;
  }

  &--horizontal {
    margin-right: $padding-sm;
  }

  &__icon {
    flex: none;
    height: 1em;
    font-size: $radio-size;
    line-height: 1em;
    cursor: pointer;

    .r-icon {
      display: block;
      box-sizing: border-box;
      width: 1.25em;
      height: 1.25em;
      color: transparent;
      font-size: 0.8em;
      line-height: 1.25;
      text-align: center;
      border: 1px solid $radio-border-color;
      transition-duration: $radio-transition-duration;
      transition-property: color, border-color, background-color;
    }

    &--round {
      .r-icon {
        border-radius: 100%;
      }
    }

    &--checked {
      .r-icon {
        color: $white;
        background-color: $radio-checked-icon-color;
        border-color: $radio-checked-icon-color;
      }
    }

    &--disabled {
      cursor: not-allowed;

      .r-icon {
        background-color: $radio-disabled-background-color;
        border-color: $radio-disabled-icon-color;
      }
    }

    &--double{
      .r-icon {
        color: $checkbox-disabled-icon-color;
      }
    }
  }

  &__label {
    margin-left: $radio-label-margin;
    color: $radio-label-color;
    line-height: $radio-size;

    &--left {
      margin: 0 $radio-label-margin 0 0;
    }

    &--disabled {
      color: $radio-disabled-label-color;
    }
  }

  &__imgUrl {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}
