:root {
  --rc-water-mark-z-index: 100;
}

.rc-water-mark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--rc-water-mark-z-index);
  background-repeat: repeat;
  pointer-events: none;
  &--full {
    position: fixed;
  }
}
