html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  color: inherit;
  font: inherit;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
[class*='rc-']:focus {
  outline: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rc-multi-ellipsis--l2 {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.rc-multi-ellipsis--l3 {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
[class*='rc-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebeff1;
  transform: scale(0.5);
}
.rc-hairline,
.rc-hairline--top,
.rc-hairline--left,
.rc-hairline--right,
.rc-hairline--bottom,
.rc-hairline--surround,
.rc-hairline--top-bottom {
  position: relative;
}
.rc-hairline--top::after {
  border-top-width: 1px;
}
.rc-hairline--left::after {
  border-left-width: 1px;
}
.rc-hairline--right::after {
  border-right-width: 1px;
}
.rc-hairline--bottom::after {
  border-bottom-width: 1px;
}
.rc-hairline--top-bottom::after,
.rc-hairline-unset--top-bottom::after {
  border-width: 1px 0;
}
.rc-hairline--surround::after {
  border-width: 1px;
}
@keyframes rc-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes rc-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes rc-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes rc-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes rc-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes rc-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes rc-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes rc-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes rc-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rc-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rc-zoom-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rc-zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes rc-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rc-fade-enter-active {
  animation: 0.3s rc-fade-in both ease-out;
}
.rc-fade-exit-active {
  animation: 0.3s rc-fade-out both ease-in;
}
.rc-slide-up-enter-active {
  animation: 0.3s rc-slide-up-enter both ease-out;
}
.rc-slide-up-exit-active {
  animation: 0.3s rc-slide-up-leave both ease-in;
}
.rc-slide-down-enter-active {
  animation: rc-slide-down-enter 0.3s both ease-out;
}
.rc-slide-down-exit-active {
  animation: rc-slide-down-leave 0.3s both ease-in;
}
.rc-slide-left-enter-active {
  animation: rc-slide-left-enter 0.3s both ease-out;
}
.rc-slide-left-exit-active {
  animation: rc-slide-left-leave 0.3s both ease-in;
}
.rc-slide-right-enter-active {
  animation: rc-slide-right-enter 0.3s both ease-out;
}
.rc-slide-right-exit-active {
  animation: rc-slide-right-leave 0.3s both ease-in;
}
.rc-zoom-enter-active {
  animation: 0.3s rc-zoom-in both ease-out;
}
.rc-zoom-exit-active {
  animation: 0.3s rc-zoom-out both ease-in;
}
.rc-safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
