.demo-cell .vant-doc-demo-block .rc-cell-group:first-child {
  margin-top: 0;
}
.demo-cell .vant-doc-demo-block .rc-cell-group:last-child {
  margin-bottom: 0;
}
.demo-cell .vant-doc-demo-block .rc-cell-group__card {
  margin-top: 0;
}
.demo-cell .custom-title {
  margin-right: 4px;
  vertical-align: middle;
}
.demo-cell .search-icon {
  font-size: 16px;
  line-height: inherit;
}
