.rc-grid {
  display: flex;
  flex-wrap: wrap;
}
.rc-grid-item {
  position: relative;
  box-sizing: border-box;
}
.rc-grid-item--square {
  height: 0;
}
.rc-grid-item__icon {
  font-size: 28px;
}
.rc-grid-item__text {
  color: #646566;
  font-size: 12px;
  line-height: 1.5;
  word-break: break-all;
}
.rc-grid-item__icon + .rc-grid-item__text {
  margin-top: 8px;
}
.rc-grid-item__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 16px 8px;
  background-color: #fff;
}
.rc-grid-item__content::after {
  z-index: 1;
  border-width: 0 1px 1px 0;
}
.rc-grid-item__content--square {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.rc-grid-item__content--center {
  align-items: center;
  justify-content: center;
}
.rc-grid-item__content--horizontal {
  flex-direction: row;
}
.rc-grid-item__content--horizontal .rc-grid-item__text {
  margin: 0 0 0 8px;
}
.rc-grid-item__content--reverse {
  flex-direction: column-reverse;
}
.rc-grid-item__content--reverse .rc-grid-item__text {
  margin: 0 0 8px;
}
.rc-grid-item__content--horizontal.rc-grid-item__content--reverse {
  flex-direction: row-reverse;
}
.rc-grid-item__content--horizontal.rc-grid-item__content--reverse .rc-grid-item__text {
  margin: 0 8px 0;
}
.rc-grid-item__content--surround::after {
  border-width: 1px;
}
.rc-grid-item__content--clickable {
  cursor: pointer;
}
.rc-grid-item__content--clickable:active {
  background-color: #f2f3f5;
}
