.rc-checkbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.rc-checkbox-group--horizontal {
  display: flex;
  flex-wrap: wrap;
}
.rc-checkbox--disabled {
  cursor: not-allowed;
}
.rc-checkbox--label-disabled {
  cursor: default;
}
.rc-checkbox--horizontal {
  margin-right: 12px;
}
.rc-checkbox__icon {
  flex: none;
  height: 1em;
  font-size: 21px;
  line-height: 1em;
  cursor: pointer;
}
.rc-checkbox__icon .van-icon {
  display: block;
  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  color: transparent;
  font-size: 0.8em;
  line-height: 1.25;
  text-align: center;
  border: 1px solid #e5e5e5;
  transition-duration: 0.2s;
  transition-property: color, border-color, background-color;
}
.rc-checkbox__icon--round .van-icon {
  border-radius: 100%;
}
.rc-checkbox__icon--checked .van-icon {
  color: #fff;
  background-color: #3f45ff;
  border-color: #3f45ff;
}
.rc-checkbox__icon--disabled {
  cursor: not-allowed;
}
.rc-checkbox__icon--disabled .van-icon {
  background-color: #ebeff1;
  border-color: #c8c9cc;
}
.rc-checkbox__icon--disabled.rc-checkbox__icon--checked .van-icon {
  color: #c8c9cc;
}
.rc-checkbox__label {
  margin-left: 8px;
  color: #333333;
  line-height: 21px;
}
.rc-checkbox__label--left {
  margin: 0 8px 0 0;
}
.rc-checkbox__label--disabled {
  color: #c8c9cc;
}
