.rc-loading {
  position: relative;
  color: #c8c9cc;
  font-size: 0;
  vertical-align: middle;
}
.rc-loading__spinner {
  position: relative;
  display: inline-block;
  width: 30px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
  vertical-align: middle;
  animation: rc-rotate 0.8s linear infinite;
}
.rc-loading__spinner--spinner {
  animation-timing-function: steps(12);
}
.rc-loading__spinner--spinner i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rc-loading__spinner--spinner i::before {
  display: block;
  width: 2px;
  height: 25%;
  margin: 0 auto;
  background-color: currentColor;
  border-radius: 40%;
  content: ' ';
}
.rc-loading__spinner--circular {
  animation-duration: 2s;
}
.rc-loading__spinner--ball {
  animation: none;
}
.rc-loading__circular {
  display: block;
  width: 100%;
  height: 100%;
}
.rc-loading__circular circle {
  animation: rc-circular 1.5s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.rc-loading__text {
  display: inline-block;
  margin-left: 8px;
  color: #969799;
  font-size: 14px;
  vertical-align: middle;
}
.rc-loading--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rc-loading--vertical .rc-loading__text {
  margin: 8px 0 0;
}
.rc-loading__ball {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateZ(0) scale(1);
  transform-origin: 0 0;
  /* see note above */
  backface-visibility: hidden;
}
.rc-loading__ball div {
  position: absolute;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.rc-loading__ball div:nth-child(1) {
  background: #448aff;
  animation: rc-ball--right 1s linear infinite;
  animation-delay: -0.5s;
}
.rc-loading__ball div:nth-child(2) {
  background: #ef5350;
  animation: rc-ball--right 1s linear infinite;
  animation-delay: 0s;
}
.rc-loading__ball div:nth-child(3) {
  background: #448aff;
  animation: rc-ball 1s linear infinite;
  animation-delay: -0.5s;
}
@keyframes rc-ball {
  0% {
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    transform: translate(24px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(24px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes rc-ball--right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(24px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* generated by https://loading.io/ */
@keyframes rc-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
.rc-loading__spinner--spinner i:nth-of-type(1) {
  transform: rotate(30deg);
  opacity: 1;
}
.rc-loading__spinner--spinner i:nth-of-type(2) {
  transform: rotate(60deg);
  opacity: 0.9375;
}
.rc-loading__spinner--spinner i:nth-of-type(3) {
  transform: rotate(90deg);
  opacity: 0.875;
}
.rc-loading__spinner--spinner i:nth-of-type(4) {
  transform: rotate(120deg);
  opacity: 0.8125;
}
.rc-loading__spinner--spinner i:nth-of-type(5) {
  transform: rotate(150deg);
  opacity: 0.75;
}
.rc-loading__spinner--spinner i:nth-of-type(6) {
  transform: rotate(180deg);
  opacity: 0.6875;
}
.rc-loading__spinner--spinner i:nth-of-type(7) {
  transform: rotate(210deg);
  opacity: 0.625;
}
.rc-loading__spinner--spinner i:nth-of-type(8) {
  transform: rotate(240deg);
  opacity: 0.5625;
}
.rc-loading__spinner--spinner i:nth-of-type(9) {
  transform: rotate(270deg);
  opacity: 0.5;
}
.rc-loading__spinner--spinner i:nth-of-type(10) {
  transform: rotate(300deg);
  opacity: 0.4375;
}
.rc-loading__spinner--spinner i:nth-of-type(11) {
  transform: rotate(330deg);
  opacity: 0.375;
}
.rc-loading__spinner--spinner i:nth-of-type(12) {
  transform: rotate(360deg);
  opacity: 0.3125;
}
