@import './variable.scss';
.r-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &--disabled {
        cursor: not-allowed;
    }

    &--label-disabled {
        cursor: default;
    }

    &--horizontal {
        margin-right: $padding-sm;
    }

    &__icon {
        flex: none;
        font-size: $checkbox-size;
        cursor: pointer;
        .r-icon {
            display: block;
            box-sizing: border-box;
            width: 1.25em;
            height: 1.25em;
            color: transparent;
            font-size: 0.8em;
            line-height: 1.25;
            text-align: center;
            border: 1px solid $checkbox-border-color;
            transition-duration: $checkbox-transition-duration;
            transition-property: color, border-color, background-color;
        }

        &--round {
            .r-icon {
                border-radius: 100%;
            }
        }

        &--checked {
            .r-icon {
                color: $white;
                background-color: $checkbox-checked-icon-color;
                border-color: $checkbox-checked-icon-color;
            }
        }

        &--disabled {
            cursor: not-allowed;
            .r-icon {
                background-color: $checkbox-disabled-background-color;
                border-color: $checkbox-disabled-icon-color;
            }
        }

        &--double {
            .r-icon {
                color: $checkbox-disabled-icon-color;
            }
        }
    }

    &__label {
        margin-left: $checkbox-label-margin;
        color: $checkbox-label-color;
        line-height: $checkbox-size;

        &--left {
            margin: 0 $checkbox-label-margin 0 0;
        }

        &--disabled {
            color: $checkbox-disabled-label-color;
        }
    }

    &__imgUrl {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
}
