.animate-enter {
    opacity: 0;
}

.animate-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.animatee-exit {
    opacity: 1;
}

.animate-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
