:root {
  --rc-cell-font-size: var(--rc-font-size-md);
  --rc-cell-line-height: 24px;
  --rc-cell-vertical-padding: 10px;
  --rc-cell-horizontal-padding: var(--rc-padding-md);
  --rc-cell-text-color: var(--rc-text-color);
  --rc-cell-background-color: var(--rc-white);
  --rc-cell-border-color: var(--rc-border-color);
  --rc-cell-active-color: var(--rc-active-color);
  --rc-cell-required-color: var(--rc-danger-color);
  --rc-cell-label-color: var(--rc-gray-6);
  --rc-cell-label-font-size: var(--rc-font-size-sm);
  --rc-cell-label-line-height: var(--rc-line-height-sm);
  --rc-cell-label-margin-top: var(--rc-padding-base);
  --rc-cell-value-color: var(--rc-gray-6);
  --rc-cell-icon-size: 16px;
  --rc-cell-right-icon-color: var(--rc-gray-6);
  --rc-cell-large-vertical-padding: var(--rc-padding-sm);
  --rc-cell-large-title-font-size: var(--rc-font-size-lg);
  --rc-cell-large-label-font-size: var(--rc-font-size-md);
  --rc-cell-group-background-color: var(--rc-white);
  --rc-cell-group-title-color: var(--rc-gray-6);
  --rc-cell-group-title-padding: var(--rc-padding-md) var(--rc-padding-md) var(--rc-padding-xs);
  --rc-cell-group-title-font-size: var(--rc-font-size-md);
  --rc-cell-group-title-line-height: 16px;
  --rc-cell-group-inset-padding: 0 var(--rc-padding-md);
  --rc-cell-group-inset-border-radius: var(--rc-border-radius-lg);
  --rc-cell-group-inset-title-padding: var(--rc-padding-md) var(--rc-padding-md)
    var(--rc-padding-xs) var(--rc-padding-xl);
}
.rc-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: var(--rc-cell-vertical-padding) var(--rc-cell-horizontal-padding);
  overflow: hidden;
  color: var(--rc-cell-text-color);
  font-size: var(--rc-cell-font-size);
  line-height: var(--rc-cell-line-height);
  background-color: var(--rc-cell-background-color);
}
.rc-cell::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: var(--rc-padding-md);
  bottom: 0;
  left: var(--rc-padding-md);
  border-bottom: 1px solid var(--rc-cell-border-color);
  transform: scaleY(0.5);
}
.rc-cell:last-child::after,
.rc-cell--borderless::after {
  display: none;
}
.rc-cell__label {
  margin-top: var(--rc-cell-label-margin-top);
  color: var(--rc-cell-label-color);
  font-size: var(--rc-cell-label-font-size);
  line-height: var(--rc-cell-label-line-height);
}
.rc-cell__title,
.rc-cell__value {
  flex: 1;
}
.rc-cell__value {
  position: relative;
  overflow: hidden;
  color: var(--rc-cell-value-color);
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.rc-cell__value--alone {
  color: var(--rc-text-color);
  text-align: left;
}
.rc-cell__left-icon,
.rc-cell__right-icon {
  height: var(--rc-cell-line-height);
  font-size: var(--rc-cell-icon-size);
  line-height: var(--rc-cell-line-height);
}
.rc-cell__left-icon {
  margin-right: var(--rc-padding-base);
}
.rc-cell__right-icon {
  margin-left: var(--rc-padding-base);
  color: var(--rc-cell-right-icon-color);
}
.rc-cell--clickable {
  cursor: pointer;
}
.rc-cell--clickable:active {
  background-color: var(--rc-cell-active-color);
}
.rc-cell--required {
  overflow: visible;
}
.rc-cell--required::before {
  position: absolute;
  left: var(--rc-padding-xs);
  color: var(--rc-cell-required-color);
  font-size: var(--rc-cell-font-size);
  content: '*';
}
.rc-cell--center {
  align-items: center;
}
.rc-cell--large {
  padding-top: var(--rc-cell-large-vertical-padding);
  padding-bottom: var(--rc-cell-large-vertical-padding);
}
.rc-cell--large .rc-cell__title {
  font-size: var(--rc-cell-large-title-font-size);
}
.rc-cell--large .rc-cell__label {
  font-size: var(--rc-cell-large-label-font-size);
}
.rc-cell-group {
  background-color: var(--rc-cell-group-background-color);
}
.rc-cell-group--inset {
  margin: var(--rc-cell-group-inset-padding);
  overflow: hidden;
  border-radius: var(--rc-cell-group-inset-border-radius);
}
.rc-cell-group__title {
  padding: var(--rc-cell-group-title-padding);
  color: var(--rc-cell-group-title-color);
  font-size: var(--rc-cell-group-title-font-size);
  line-height: var(--rc-cell-group-title-line-height);
}
.rc-cell-group__title--inset {
  padding: var(--rc-cell-group-inset-title-padding);
}
