.rc-image {
  position: relative;
  display: inline-block;
}
.rc-image--block {
  display: block;
  width: 100%;
  height: 100%;
}
.rc-image--round {
  overflow: hidden;
  border-radius: 50%;
}
.rc-image--round img {
  border-radius: inherit;
}
.rc-image__img,
.rc-image__error,
.rc-image__loading {
  display: block;
  width: 100%;
  height: 100%;
}
.rc-image__error,
.rc-image__loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #969799;
  font-size: 14px;
  background-color: #f7f8fa;
}
.rc-image__loading-icon {
  color: #dcdee0;
  font-size: 32px;
}
.rc-image__error-icon {
  color: #dcdee0;
  font-size: 32px;
}
