.rc-field__label {
  flex: none;
  box-sizing: border-box;
  width: 5.2em;
  margin-right: 12px;
  color: #333333;
  text-align: left;
  word-wrap: break-word;
}
.rc-field__label--center {
  text-align: center;
}
.rc-field__label--right {
  text-align: right;
}
.rc-field--disabled .rc-field__label {
  color: #c8c9cc;
}
.rc-field__value {
  overflow: visible;
}
.rc-field__body {
  display: flex;
  align-items: center;
}
.rc-field__control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  color: #333333;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: 0;
  resize: none;
}
.rc-field__control::placeholder {
  color: #cccccc;
}
.rc-field__control:disabled {
  color: #c8c9cc;
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: #c8c9cc;
}
.rc-field__control:read-only {
  cursor: default;
}
.rc-field__control--center {
  justify-content: center;
  text-align: center;
}
.rc-field__control--right {
  justify-content: flex-end;
  text-align: right;
}
.rc-field__control--custom {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.rc-field__control[type='date'],
.rc-field__control[type='time'],
.rc-field__control[type='datetime-local'] {
  min-height: 24px;
}
.rc-field__control[type='search'] {
  -webkit-appearance: none;
}
.rc-field__clear,
.rc-field__right-icon {
  margin-right: -8px;
  padding: 0 8px;
  line-height: inherit;
}
.rc-field__clear {
  color: #c8c9cc;
  font-size: 16px;
  cursor: pointer;
}
.rc-field__left-icon .rc-icon,
.rc-field__right-icon .rc-icon {
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.rc-field__left-icon {
  margin-right: 4px;
}
.rc-field__right-icon {
  color: #969799;
}
.rc-field__button {
  padding-left: 8px;
}
.rc-field__error-message {
  color: #f44336;
  font-size: 12px;
  text-align: left;
}
.rc-field__error-message--center {
  text-align: center;
}
.rc-field__error-message--right {
  text-align: right;
}
.rc-field__word-limit {
  margin-top: 4px;
  color: #666666;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.rc-field--error .rc-field__control,
.rc-field--error .rc-field__control::placeholder {
  color: #f44336;
  -webkit-text-fill-color: currentColor;
}
.rc-field--min-height .rc-field__control {
  min-height: 60px;
}
