.child{
  width: 40px;
  height: 40px;
  background: #999999;
  border-radius: 4px;
}
.demo-button-row{
  margin-bottom: 12px;
}
.overlayWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.checkbox {
  padding: 20px;
}