.rc-badge {
  display: inline-block;
  box-sizing: border-box;
  min-width: 16px;
  padding: 0 3px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  line-height: 1.2;
  text-align: center;
  background-color: #f44336;
  border: 1px solid #fff;
  border-radius: 999px;
}
.rc-badge--fixed {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100%;
}
.rc-badge--dot {
  width: 8px;
  min-width: 0;
  height: 8px;
  background-color: #f44336;
  border-radius: 100%;
}
.rc-badge__wrapper {
  position: relative;
  display: inline-block;
}
