.appear,
.enter {
    opacity: 0;
}
.enterActive {
    animation: r-fade-in $animation-duration-base both $animation-timing-function-enter;
}
.enterDone,
.exit {
    opacity: 1;
    display: block;
}

.exitActive {
    animation: r-fade-out $animation-duration-base both $animation-timing-function-exit;
}
.exitDone {
    opacity: 0;
    display: none;
}

.r-slide-top {
    &-enter-active {
        transform: translate3d(0, 0, 0) !important;
        transition-timing-function: $animation-timing-function-enter !important;
    }
    &-enter-done {
        transform: translate3d(0, 0, 0) !important;
    }
    &-exit-active {
        transform: translate3d(0, -100%, 0) !important;
        transition-timing-function: $animation-timing-function-exit !important;
    }
}

.r-slide-bottom {
    &-enter-active {
        transform: translate3d(0, 0, 0) !important;
        transition-timing-function: $animation-timing-function-enter !important;
    }
    &-enter-done {
        transform: translate3d(0, 0, 0) !important;
    }
    &-exit-active {
        transform: translate3d(0, 100%, 0) !important;
        transition-timing-function: $animation-timing-function-exit !important;
    }
}

.r-slide-left {
    &-enter-active {
        transform: translate3d(0, 0, 0) !important;
        transition-timing-function: $animation-timing-function-enter !important;
    }
    &-enter-done {
        transform: translate3d(0, 0, 0) !important;
    }
    &-exit-active {
        transform: translate3d(-100%, 0, 0) !important;
        transition-timing-function: $animation-timing-function-exit !important;
    }
}

.r-slide-right {
    &-enter-active {
        transform: translate3d(0, 0, 0) !important;
        transition-timing-function: $animation-timing-function-enter !important;
    }
    &-enter-done {
        transform: translate3d(0, 0, 0) !important;
    }
    &-exit-active {
        transform: translate3d(100%, 0, 0) !important;
        transition-timing-function: $animation-timing-function-exit !important;
    }
}

@keyframes r-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes r-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes r-slide-top-enter {
    from {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes r-slide-top-exit {
    to {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes r-slide-bottom-enter {
    from {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes r-slide-bottom-exit {
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes r-slide-left-enter {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes r-slide-left-enter-active {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-enter-done {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-exit {
    from {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes r-slide-left-exit-active {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-exit-done {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes r-slide-right-enter {
    from {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes r-slide-right-exit {
    to {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes r-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
