.enter {
    opacity: 0 !important;
}
.enterActive {
    animation: r-fade-in $animation-duration-base both $animation-timing-function-enter;
    display: block !important;
}
.enterDone {
    display: block !important;
}
.exit {
    opacity: 1 !important;
}

.exitActive {
    animation: r-fade-out $animation-duration-base both $animation-timing-function-exit;
}
.exitDone {
    opacity: 0 !important;
}

@keyframes r-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes r-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none !important;
    }
}

@keyframes r-slide-top-enter {
    from {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes r-slide-top-exit {
    to {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes r-slide-bottom-enter {
    from {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes r-slide-bottom-exit {
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes r-slide-left-enter {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes r-slide-left-enter-active {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-enter-done {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-exit {
    from {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes r-slide-left-exit-active {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes r-slide-left-exit-done {
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes r-slide-right-enter {
    from {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes r-slide-right-exit {
    to {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes r-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
