.badge-icon {
  display: block;
  font-size: 10px;
  line-height: 16px;
}
.demo-badge {
  background: #fff;
}
.demo-badge .child {
  width: 40px;
  height: 40px;
  background: #f2f3f5;
  border-radius: 4px;
}
.demo-badge .rc-badge__wrapper:not(:last-child) {
  margin-right: 16px;
}
.demo-badge .vant-doc-demo-block {
  padding: 0 16px;
}
.demo-badge .vant-doc-demo-block__title {
  padding-left: 0;
}
.demo-badge-row {
  margin-bottom: 12px;
}
