.rc-tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 4px;
  color: #646566;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.rc-tab--active {
  color: #333333;
  font-weight: 500;
}
.rc-tab--disabled {
  color: #c8c9cc;
  cursor: not-allowed;
}
.rc-tab__text--ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.rc-tab__pane,
.rc-tab__pane-wrapper {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
}
.rc-tab__pane-wrapper--inactive {
  height: 0;
  overflow: visible;
}
.rc-tabs {
  position: relative;
}
.rc-tabs__wrap {
  overflow: hidden;
}
.rc-tabs__wrap--page-top {
  position: fixed;
}
.rc-tabs__wrap--content-bottom {
  top: auto;
  bottom: 0;
}
.rc-tabs__wrap--scrollable .rc-tab {
  flex: 1 0 auto;
  padding: 0 12px;
}
.rc-tabs__wrap--scrollable .rc-tabs__nav {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.rc-tabs__wrap--scrollable .rc-tabs__nav::-webkit-scrollbar {
  display: none;
}
.rc-tabs__wrap--scrollable .rc-tabs__nav--complete {
  padding-right: 8px;
  padding-left: 8px;
}
.rc-tabs__nav {
  position: relative;
  display: flex;
  background-color: #fff;
  user-select: none;
}
.rc-tabs__nav--line {
  box-sizing: content-box;
  height: 100%;
  padding-bottom: 15px;
  /* 15* @hd padding to hide scrollbar in mobile safari */
}
.rc-tabs__nav--card {
  box-sizing: border-box;
  height: 30px;
  margin: 0 16px;
  border: 1px solid #3f45ff;
  border-radius: 2px;
}
.rc-tabs__nav--card .rc-tab {
  color: #3f45ff;
  border-right: 1px solid #3f45ff;
}
.rc-tabs__nav--card .rc-tab:last-child {
  border-right: none;
}
.rc-tabs__nav--card .rc-tab.rc-tab--active {
  color: #fff;
  background-color: #3f45ff;
}
.rc-tabs__nav--card .rc-tab--disabled {
  color: #c8c9cc;
}
.rc-tabs__line {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 3px;
  background-color: #3f45ff;
  border-radius: 3px;
}
.rc-tabs__track {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  will-change: left;
}
.rc-tabs__content--animated {
  overflow: hidden;
}
.rc-tabs--line .rc-tabs__wrap {
  height: 44px;
}
.rc-tabs--card > .rc-tabs__wrap {
  height: 30px;
}
