:root {
  --rc-rate-icon-size: 20px;
  --rc-rate-icon-gutter: var(--rc-padding-base);
  --rc-rate-icon-void-color: var(--rc-gray-5);
  --rc-rate-icon-full-color: var(--rc-danger-color);
  --rc-rate-icon-disabled-color: var(--rc-gray-5);
}
.rc-rate {
  display: inline-flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none;
}
.rc-rate__item {
  position: relative;
}
.rc-rate__item:not(:last-child) {
  padding-right: var(--rc-rate-icon-gutter);
}
.rc-rate__icon {
  display: block;
  width: 1em;
  color: var(--rc-rate-icon-void-color);
  font-size: var(--rc-rate-icon-size);
}
.rc-rate__icon--half {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rc-rate__icon--full {
  color: var(--rc-rate-icon-full-color);
}
.rc-rate__icon--disabled {
  color: var(--rc-rate-icon-disabled-color);
}
.rc-rate--disabled {
  cursor: not-allowed;
}
.rc-rate--readonly {
  cursor: default;
}
