.demo-checkbox {
  background: #fff;
}
.demo-checkbox .rc-checkbox {
  margin: 0 0 8px 20px;
}
.demo-checkbox .rc-cell .rc-checkbox {
  margin: 0;
}
.demo-checkbox img {
  height: 20px;
}
.demo-checkbox-buttons {
  margin-top: 16px;
}
.demo-checkbox-buttons .rc-button {
  margin-left: 16px;
}
.demo-checkbox .rc-doc-demo-block__title {
  margin-top: -8px;
}
