.rc-toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 88px;
  max-width: 70%;
  min-height: 88px;
  padding: 12px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
.rc-toast--unclickable {
  overflow: hidden;
}
.rc-toast--unclickable * {
  pointer-events: none;
}
.rc-toast--info,
.rc-toast--html {
  width: fit-content;
  min-width: 96px;
  min-height: 0;
  padding: 12px;
}
.rc-toast--info .rc-toast__text,
.rc-toast--html .rc-toast__text {
  margin-top: 0;
}
.rc-toast--top {
  top: 20%;
}
.rc-toast--bottom {
  top: auto;
  bottom: 20%;
}
.rc-toast__icon {
  font-size: 36px;
}
.rc-toast__loading {
  padding: 4px;
  color: #fff;
}
.rc-toast__text {
  margin-top: 8px;
}
