.rc-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 32px 0;
}
.rc-empty__image {
  width: 160px;
  height: 160px;
}
.rc-empty__image img {
  width: 100%;
  height: 100%;
}
.rc-empty__description {
  margin-top: 16px;
  padding: 0 60px;
  color: #969799;
  font-size: 14px;
  line-height: 20px;
}
.rc-empty__bottom {
  margin-top: 24px;
}
